$squareWidth: 10px;
$squareHeight: 10px;

.grid span.firstMirror{
	clear: both;
}

#grid{
	span{
		display: block;
		float: left;
		width: $squareWidth;
		height:$squareHeight;
		position: relative;
		&[class*=color]{
            background-color: #f0fc03 !important;
		}
	}
}

.gridGoingUp {
    background-color: #f0fc03 !important;
    border: 5px outset #f0fc03 !important;;
    padding: 0px !important;
}

.backMirror {
    border: 0.5px solid #0f0f0f;
    background-color: #414141;
}

.colorMirror:not(.gridGoingUp) {
    background-color: orangered ;
    border: 5px outset orangered ;
    padding: 0px ;
  }
