$squareWidth: 30px;
$squareHeight: 30px;

.tetromino-preview {
  //   background: linear-gradient(135deg, grey 25%, transparent 25%) -50px 0,
  //     linear-gradient(225deg, grey 25%, transparent 25%) -50px 0,
  //     linear-gradient(315deg, grey 25%, transparent 25%),
  //     linear-gradient(45deg, grey 25%, transparent 25%);
  //   background-size: 2em 2em;
  //   background-color: #e4e4e4;
  .game-table__cell {
    border: unset !important;
    &:not(.colory) {
      display: block;
      float: left;
      width: 30px;
      height: 30px;
      &before {
        border: 1px solid black;
      }
    }
  }
}

.tetromino-preview .first {
  clear: both;
}

.tetromino-preview .mirror {
  background-color: rgba(36, 36, 36, 0.5);
}

.tetromino-preview .colory:not(.color) {
  background-color: #353841;
  border: 0px solid black;
}

$tetrominoColors: (
  "1" #2003fc,
  "2" #fc0303,
  "3" #03fc3d,
  "4" #03ebfc,
  "5" #fc037f,
  "6" #b503fc,
  "7" #f0fc03
);

@each $color in $tetrominoColors {
  .game-table__cell.color#{nth($color, 1)} {
    background-color: nth($color, 2) !important;
    border: 5px outset nth($color, 2) !important;
    padding: 0px !important;
  }

  .tetromino-preview .color#{nth($color, 1)} {
    background-color: nth($color, 2) !important;
    border: 5px outset nth($color, 2) !important;
    padding: 0px !important;
  }

  #tetrominoContainer .color#{1} {
    position: relative;
    top: 15px;
  }

  #tetrominoContainer .color#{7} {
    position: relative;
    top: 15px;
  }
}

#tetrominoContainer {
  background: none;
  border: none;
  span {
    width: 30px;
    height: 30px;
  }
}

.tetrominoWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 150px;
}

.tetrominoTitle {
  margin-bottom: 10px;
  #tetrominoContainer .color#{7} {
    margin: 10px;
  }
}

.bg {
  background-color: #353841 !important;
}

// Board

.gameButtonGameover {
  background: white;
  width: 150px;
  text-align: center;
  margin-bottom: 5px;
  .rr {
    margin-bottom: 5px;
  }
}

.pixelized--heart {
  display: block;
  width: 3px;
  height: 3px;
  box-shadow: 3px 0px #f22613, 6px 0px #f22613, 12px 0px #f22613,
    15px 0px #f22613, 0px 3px #f22613, 3px 3px #f22613, 6px 3px white,
    9px 3px #f22613, 12px 3px #f22613, 15px 3px #f22613, 18px 3px #f22613,
    0px 6px #f22613, 3px 6px white, 6px 6px #f22613, 9px 6px #f22613,
    12px 6px #f22613, 15px 6px #f22613, 18px 6px #f22613, 3px 9px #f22613,
    6px 9px #f22613, 9px 9px #f22613, 12px 9px #f22613, 15px 9px #f22613,
    6px 12px #f22613, 9px 12px #f22613, 12px 12px #f22613, 9px 15px #f22613;
}

$lifeCounter: ("1" 1, "2" 2, "3" 3);

@each $lifes in $lifeCounter {
  .black--#{nth($lifes, 1)} {
    box-shadow: 3px 0px black, 6px 0px black, 12px 0px black, 15px 0px black,
      0px 3px black, 3px 3px black, 6px 3px white, 9px 3px black, 12px 3px black,
      15px 3px black, 18px 3px black, 0px 6px black, 3px 6px white,
      6px 6px black, 9px 6px black, 12px 6px black, 15px 6px black,
      18px 6px black, 3px 9px black, 6px 9px black, 9px 9px black,
      12px 9px black, 15px 9px black, 6px 12px black, 9px 12px black,
      12px 12px black, 9px 15px black;
  }
}

.black--1 {
  box-shadow: 3px 0px black, 6px 0px black, 12px 0px black, 15px 0px black,
    0px 3px black, 3px 3px black, 6px 3px white, 9px 3px black, 12px 3px black,
    15px 3px black, 18px 3px black, 0px 6px black, 3px 6px white, 6px 6px black,
    9px 6px black, 12px 6px black, 15px 6px black, 18px 6px black, 3px 9px black,
    6px 9px black, 9px 9px black, 12px 9px black, 15px 9px black, 6px 12px black,
    9px 12px black, 12px 12px black, 9px 15px black;
}

.gridUp:not(.game-table__cell.color) {
    background-color: #0f0f0f !important;
    border: 5px outset #414141 !important;
    padding: 0px !important;
}

.back {
    border: 0.5px solid rgb(223, 223, 223) ;
    background-color: rgb(138, 138, 138);
}