.room-container {
  border-radius: 5px;
  height: 41.5em;
  overflow-y: auto;
  background: url("../img/blue_background.jpg") no-repeat center;
  background-size: cover;
  color: $whiter;
  overflow-x: hidden;
  &__create {
    display: flex;
    justify-content: space-around;
    align-items: center;
    input {
      max-width: 400px;
    }
  }
  &__list {
    border-top: 3px solid $whiter;
    border-bottom: 3px solid $whiter;
    .room-item {
      &:hover {
        background-color: darken($dark-light, 4);
      }
      &:not(:first-child) {
        border-top: 3px solid $whiter;
      }
      div {
        padding: 0.25rem;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .room-mode {
        border-left: 3px solid $whiter;
        word-break: break-all;
      }
      .room-join {
        border-left: 3px solid $whiter;
      }
      .room-button {
        border-left: 3px solid $whiter;
        word-break: break-all;
      }
    }
  }
}

.chat-container {
  &__box {
    background-color: $dark-light;
    &-title {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      color: $whiter;
    }
  }
  .chat-messages {
    background: url("../img/green_background.png") no-repeat center;
    background-size: cover;
    height: 35em;
    overflow-y: auto;
    &__message {
      color: $whiter;
      padding-top: 5px;
      padding-bottom: 5px;
      &:hover {
        cursor: pointer;
        background-color: darken($dark-light, 2.5);
        transition: 0.3s;
      }
    }
  }

  .chat-users {
    height: 35em;
    overflow-y: auto;
    overflow-x: hidden;
    color: $whiter;
    ul {
      padding: 0 !important;
      list-style: none;
    }
  }

  .msg-button {
    padding: 9px;
    width: 100%;
    height: 100%;
  }

  .msg-foot div {
    padding: 0;
  }

  .msg-foot {
    line-height: 0;
  }

  .msg-new .msg-new-input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background: none;
    padding: 20px 8px 5px 8px;
    color: #ffffff;
  }
}
