.piece_one {
  background-color: #f0fc03;
  border: 5px outset #f0fc03 !important;
  padding: 0px !important;
}
.piece_two {
  background-color: #fc0303;
  border: 5px outset #fc0303 !important;
  padding: 0px !important;
}
.piece_three {
  background-color: #03fc3d;
  border: 5px outset #03fc3d !important;
  padding: 0px !important;
}
.piece_four {
  background-color: #03ebfc;
  border: 5px outset #03ebfc !important;
  padding: 0px !important;
}
.piece_five {
  background-color: #d703fc;
  border: 5px outset #d703fc !important;
  padding: 0px !important;
}
.piece_six {
  background-color: #fc5e03;
  border: 5px outset #fc5e03 !important;
  padding: 0px !important;
}
.piece_seven {
  background-color: #2003fc;
  border: 5px outset #2003fc !important;
  padding: 0px !important;
}
.piece_next {
  background-color: $darker;
  border: 5px outset $darker !important;
  padding: 0px !important;
}
