// IMPORT FILES AND UTILS
@import "bootstrap";
@import "./fonts/font.css";
@import "variables.scss";
@import "mixins.scss";
@import "game.scss";
@import "login.scss";
@import "chat.scss";
@import "home.scss";
@import "pieces.scss";

// MAIN THEME
* {
  font-family: slkscr;
}

body {
  background-color: $dark-light;
  background: url("../img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  padding-top: 110px;
}

h1,
h2,
h3 {
  font-family: slkscre;
}

h3 {
  font-size: $title3;
  margin: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
}

.shadow {
  box-shadow: 0px 0px 10px 0px rgba($dark, $obg) !important;
  &-top {
    box-shadow: 0px 0px 10px 0px rgba($dark, $obg) !important;
    &__light {
      box-shadow: 0px -3px 10px 0px rgba($white, $osm) !important;
    }
  }
  &__light {
    box-shadow: 0px 0px 10px 0px rgba($white, $osm) !important;
  }
}

.text-white {
  color: $white;
}

.primary-font {
  font-family: slkscre;
}

.secondary-font {
  font-family: Roboto;
}

.header {
  background-color: $main-dark;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
  &__username {
    color: $white;
  }
  &__logo {
    &.pointer {
      cursor: pointer;
    }
    img {
      width: 160px;
    }
  }
  &__disconnect {
    img {
      width: 25px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

.bg-head {
  background-color: $main-dark;
}

// BUTTONS

.btn {
  &-white {
    background-color: $white;
    border-color: $white;
    color: $white-text;
    &:hover {
      background-color: #f5f5f5;
      border-color: #f1f1f1;
      color: $white-text;
    }
  }
  &-retro {
    border: 3px outset $whiter !important;
    background: $whiter;
    border-radius: 3px;
    padding: 3px;
    &:hover {
      background-color: darken($whiter, 5%);
      border-color: darken($whiter, 3%);
      color: $white-text;
    }
  }
  &-img {
    padding: 0.1rem 0.7rem;
  }
  &-outline-arrow {
    border: 1px solid $whiter;
    border-radius: 0.25rem;
  }
}

// OVERWRITE BOOTSTRAP

label {
  margin-bottom: 0;
}

// SNACKBAR

.snackbar-success div {
  background-color: $success !important;
}
.snackbar-danger div {
  background-color: $danger !important;
}

.MuiOutlinedInput-notchedOutline {
  border-color: $white !important;
}
