// MAIN THEME

$tetris: #e51b22 !default;
$darker: #242525 !default;
$dark: #000000 !default;
$dark-light: #424852 !default;
$main-dark: #353841 !default;
$white: #ffffff !default;
$whiter: #e0e0e0 !default;

// OPACITY

$osm: 0.25 !default;
$omd: 0.5 !default;
$obg: 0.75 !default;
$oxl: 1 !default;
$darker-op: rgba(36, 37, 37, 0.7) !default;

// BUTTONS COLORS

$success: #208036 !default;
$success-border: #218237 !default;
$danger: #c82333 !default;
$danger-border: #bd2130 !default;
$primary: #014b9a !default;
$primary-border: #4e6ca5 !default;
$info: #369dd3 !default;
$info-border: #27698c !default;
$tetris-border: #bf383d !default;
$white-text: #212529 !default;

// TEXT SIZES

$size-md: 13px !default;
$size-bg: 15px !default;
$size-ultra: 4em !default;
$title3: 1.4em !default;

// FOOTER

$footer-height: 65px;
