@font-face {
  font-family: "slkscr";
  src: local("slkscr"), url("./slkscr.ttf") format("truetype");
}
@font-face {
  font-family: "slkscrb";
  src: local("slkscrb"), url("./slkscrb.ttf") format("truetype");
}
@font-face {
  font-family: "slkscre";
  src: local("slkscre"), url("./slkscre.ttf") format("truetype");
}
@font-face {
  font-family: "slkscreb";
  src: local("slkscreb"), url("./slkscreb.ttf") format("truetype");
}
@font-face {
  font-family: "Roboto";
  src: local("Roboto-Regular-webfont"), url("./Roboto-Regular-webfont.woff") format("truetype");
}
@font-face {
  font-family: "Roboto-light";
  src: local("Roboto-Light-webfont"), url("./Roboto-Light-webfont.woff") format("truetype");
}